@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary-color: #007bff; /* Primary color */
  --secondary-color: #6c757d; /* Secondary color */
  --success-color: #28a745; /* Success color */
  --danger-color: #dc3545; /* Danger color */
  --warning-color: #ffc107; /* Warning color */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color-scheme: dark;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

code {
  color: dodgerblue;
}

.sidebar {
  flex: 1 0 20%;
  flex-direction: column;
  padding: 10px;
}

.sidebar {
  background-color: rgb(2, 3, 26);
}

.sidebar select {
  text-align: center;
  width: 70%;
  margin: 10px auto;
  padding: 5px 0px;
}

.imgflex figure:has(img) {
  text-align: center;
  display: block;
}

figure:has(img) {
  text-align: center;
  display: block;
}

.imgflex img,
.singlePost figure img {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.singlePost figure:has(img) img {
  text-align: center;
}

main.singlePost {
  xwidth: 100%;
}


/* Buttons */

.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.success {
  background-color: var(--success-color);
}
.warning {
  background-color: var(--warning-color);
}
.danger {
  background-color: var(--danger-color);
}

.button:hover {
  background-color: #0056b3;
}

nav:has(.button) {
  text-align: center;
}
nav:has(.button) a{
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 15px auto;
}